
@{ ViewBag.Title = "Home Page"; }

<!-- chartist CSS -->
<link href="~/TemplateAssets/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
<link href="~/TemplateAssets/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
<link href="~/TemplateAssets/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<link href="~/TemplateAssets/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
<link href="~/TemplateAssets/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<link href="~/TemplateAssets/assets/plugins/morrisjs/morris.css" rel="stylesheet">
<link href="~/TemplateAssets/bootstrap-switch/switch.css" rel="stylesheet" />


<!--This page css - Morris CSS -->
<link href="~/TemplateAssets/assets/plugins/c3-master/c3.min.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><b>Aplique los filtros necesarios</b></h4>
                <div class="card-body">
                    <div class="row button-group">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <button type="button" id="btn_today" onclick="setStatsView('today')" class="btn btn-block btn-outline-info">Hoy</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <button type="button" id="btn_week" onclick="setStatsView('week')" class="btn btn-block btn-outline-success">Esta Semana</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <button type="button" id="btn_month" onclick="setStatsView('month')" class="btn btn-block btn-outline-primary">Este Mes</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <button type="button" id="btn_3months" onclick="setStatsView('3months')" class="btn btn-block btn-outline-danger">Hace 3 Meses</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <button type="button" id="btn_6months" onclick="setStatsView('6months')" class="btn btn-block btn-outline-secondary">Hace 6 meses</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <button type="button" id="btn_year" onclick="setStatsView('Year')" class="btn btn-block btn-outline-warning">Este Año</button>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row button-group">

                        <div class="col-6">
                            <h4><b>Filtrar Por empleado</b></h4>
                            <div class="input-group">
                                <div class="col-xl-2 col-6 text-center align-self-center mb-20">
                                    <button type="button" id="btnempfilter" class="btn btn-toggle btn-success" onclick="employeFilter()" data-toggle="button" aria-pressed="true" autocomplete="off">
                                        <div class="handle"></div>
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>

                    </div>
                    <div class="row button-group">

                        <div id="listaempleados" class="col-6">
                            <h4><b>Empleados</b></h4>
                            <div class="input-group">
                                @Html.DropDownList("empleados", new SelectList(ViewBag.empleados, "idEmployee", "Usuario"), new { @class = "form-control required" })
                            </div>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<section class="content">
    <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
            <div class="flexbox flex-justified text-center bg-success mb-30 pull-up">
                <div class="no-shrink py-30">
                    <span class="mdi mdi-clock-out font-size-50"></span>
                </div>

                <div class="py-30 bg-white text-dark">
                    <div class="font-size-30 countnm">2064</div>
                    <span>Tiempo Productivo</span>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="flexbox flex-justified text-center bg-danger mb-30 pull-up">
                <div class="no-shrink py-30">
                    <span class="mdi mdi-clock-in font-size-50"></span>
                </div>

                <div class="py-30 bg-white text-dark">
                    <div class="font-size-30 countnm">1738</div>
                    <span>Tiempro Improductivo</span>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="flexbox flex-justified text-center bg-warning mb-30 pull-up">
                <div class="no-shrink py-30">
                    <span class="mdi mdi-clock-end font-size-50"></span>
                </div>

                <div class="py-30 bg-white text-dark">
                    <div class="font-size-30 countnm">1100</div>
                    <span>Tiempo Neutral</span>
                </div>
            </div>
        </div>
        <!-- /.col -->
        @*<div class="col-xl-3 col-md-6 col-12">
                <div class="flexbox flex-justified text-center bg-danger mb-30 pull-up">
                    <div class="no-shrink py-30">
                        <span class="mdi mdi-ticket font-size-50"></span>
                    </div>

                    <div class="py-30 bg-white text-dark">
                        <div class="font-size-30 countnm">964</div>
                        <span>Pending</span>
                    </div>
                </div>
            </div>*@
        <!-- /.col -->
        <div class="col-12 col-lg-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Aplicaciones mas usadas</h3>
                    <div class="box-tools pull-right">
                        <ul class="card-controls">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="#"><i class="ion-android-more-vertical"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item active" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Yesterday</a>
                                    <a class="dropdown-item" href="#">Last week</a>
                                    <a class="dropdown-item" href="#">Last month</a>
                                </div>
                            </li>
                            <li><a href="" class="link card-btn-reload" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="mdi mdi-toggle-switch-off-thin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="box-body">
                    <div class="text-center py-20">
                        <div id="statslist">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-12 col-lg-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Improductivas mas usadas</h3>

                    <div class="box-tools pull-right">
                        <ul class="card-controls">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="#"><i class="ion-android-more-vertical"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item active" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Yesterday</a>
                                    <a class="dropdown-item" href="#">Last week</a>
                                    <a class="dropdown-item" href="#">Last month</a>
                                </div>
                            </li>
                            <li><a href="" class="link card-btn-reload" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="mdi mdi-toggle-switch-off-thin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="box-body">
                    <div class="flexbox mt-70">
                        <div class="bar" data-peity='{ "fill": ["#666EE8", "#1E9FF2", "#28D094", "#FF4961", "#FF9149"], "height": 298, "width": 250, "padding":0.2 }'>952,558,1254,427,784</div>
                        <ul class="list-inline align-self-end text-muted text-right mb-0">
                            <li>Jacob <span class="badge badge-primary ml-2">952</span></li>
                            <li>William <span class="badge badge-info ml-2">558</span></li>
                            <li>Emily <span class="badge badge-success ml-2">1254</span></li>
                            <li>Chloe <span class="badge badge-danger ml-2">427</span></li>
                            <li>Daniel <span class="badge badge-warning ml-2">784</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-lg-4 col-12">
            <!-- AREA CHART -->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Ticket Overview</h4>
                </div>
                <div class="box-body">
                    <ul class="list-inline text-right mt-10 mr-10">
                        <li>
                            <h5 class="mb-0"><i class="mdi mdi-toggle-switch-off mr-5 text-info"></i>Total</h5>
                        </li>
                        <li>
                            <h5 class="mb-0"><i class="mdi mdi-toggle-switch-off mr-5 text-danger"></i>Close</h5>
                        </li>
                    </ul>
                    <div id="morris-area-chart2" style="height: 330px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-lg-4 col-12">
            <div class="box">
                <div class="bg-img box-inverse" style="background-image: url(../images/gallery/thumb/14.jpg);" data-overlay="5">
                    <div class="box-header no-border">
                        <h4>Ticket Stats</h4>
                        <ul class="box-controls pull-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="#" class="btn btn-rounded btn-outline btn-white px-10">Stats</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
                                    <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
                                    <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="flexbox flex-justified text-center mt-50">
                            <div class="b-1 rounded py-20">
                                <p class="mb-0 fa-3x">25%</p>
                                <p class="mb-0 font-weight-300">Responded</p>
                            </div>
                            <div class="b-1 rounded py-20">
                                <p class="mb-0 fa-3x">40%</p>
                                <p class="mb-0 font-weight-300">Resolve</p>
                            </div>
                            <div class="b-1 rounded py-20">
                                <p class="mb-0 fa-3x">35%</p>
                                <p class="mb-0 font-weight-300">Pending</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body p-0">
                    <div class="media-list media-list-hover media-list-divided">
                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-lg" src="../images/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6><a href="#">Austin</a></h6>
                                <small class="text-fader">Designer</small>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-block btn-primary btn-sm" href="#">Contact</a>
                            </div>
                        </div>
                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-lg" src="../images/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6><a href="#">Thomas</a></h6>
                                <small class="text-fader">Developer</small>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-block btn-primary btn-sm" href="#">Contact</a>
                            </div>
                        </div>
                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-lg" src="../images/avatar/3.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6><a href="#">Chase</a></h6>
                                <small class="text-fader">Designer</small>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-block btn-primary btn-sm" href="#">Contact</a>
                            </div>
                        </div>
                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-lg" src="../images/avatar/4.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <h6><a href="#">Olivia</a></h6>
                                <small class="text-fader">Developer</small>
                            </div>
                            <div class="media-right">
                                <a class="btn btn-block btn-primary btn-sm" href="#">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Best Agent</h4>
                </div>
                <div class="box-body p-0">
                    <div class="box box-widget widget-user-3">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-purple" style="background: url('../images/photo1.png') center center;">
                            <div class="info-user">
                                <h3 class="widget-user-username">Michael Jorden</h3>
                                <h6 class="widget-user-desc">Developer</h6>
                            </div>
                            <div class="widget-user-image clearfix">
                                <img class="rounded-circle" src="../images/user7-128x128.jpg" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav d-block nav-stacked">
                                <li class="nav-item"><a href="#" class="nav-link">Sales <span class="pull-right badge bg-info">1310</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Projects <span class="pull-right badge bg-success">120</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Followers <span class="pull-right badge bg-warning">8K</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Tasks <span class="pull-right badge bg-danger">58</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box direct-chat direct-chat-info">
                <div class="box-header with-border">
                    <h4 class="box-title">Direct Chat</h4>
                    <ul class="box-controls pull-right">
                        <li><a class="box-btn-close" href="#"></a></li>
                        <li><a class="box-btn-slide" href="#"></a></li>
                        <li><a class="box-btn-fullscreen" href="#"></a></li>
                        <li><a class="" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></a></li>
                        <li><span data-toggle="tooltip" title="1 New Messages" class="badge badge-pill badge-info">5</span></li>
                    </ul>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg mb-30">
                            <div class="clearfix mb-15">
                                <span class="direct-chat-name">James Anderson</span>
                                <span class="direct-chat-timestamp pull-right">April 14, 2017</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img avatar" src="../images/user1-128x128.jpg" alt="message user image">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                <p>Hi</p>
                                <p>Morbi ullamcorper mauris nec gravida molestie.</p>
                                <p class="direct-chat-timestamp"><time datetime="2018">23:58</time></p>
                            </div>

                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right mb-30">
                            <div class="clearfix mb-15">
                                <span class="direct-chat-name pull-right">You</span>
                            </div>
                            <div class="direct-chat-text">
                                <p>Hiii, I'm good.</p>
                                <p>Nunc nec lorem volutpat, placerat.</p>
                                <p class="direct-chat-timestamp"><time datetime="2018">00:06</time></p>
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img" src="../images/user1-128x128.jpg" alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Bryson
                                            <small class="contacts-list-date pull-right">April 14, 2017</small>
                                        </span>
                                        <span class="contacts-list-email">coreo</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img" src="../images/user7-128x128.jpg" alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Vincent
                                            <small class="contacts-list-date pull-right">March 14, 2017</small>
                                        </span>
                                        <span class="contacts-list-email">sonu@gmail.com</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                        </ul>
                        <!-- /.contatcts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <div class="input-group-addon">
                                <div class="align-self-end gap-items">
                                    <span class="publisher-btn file-group">
                                        <i class="fa fa-paperclip file-browser"></i>
                                        <input type="file">
                                    </span>
                                    <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                                    <a class="publisher-btn" href="#"><i class="fa fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>


        <div class="col-12 col-lg-8">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Ticket List</h4>
                    <h6 class="box-subtitle">List of ticket opend by customers</h6>
                </div>
                <div class="box-body p-15">
                    <div class="table-responsive">
                        <table id="tickets" class="table mt-0 table-hover no-wrap table-bordered" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID #</th>
                                    <th>Opened By</th>
                                    <th>Cust. Email</th>
                                    <th>Sbuject</th>
                                    <th>Status</th>
                                    <th>Assign to</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1011</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/1.jpg" alt="user" class="avatar avatar-sm mr-5" /> Sophia</a>
                                    </td>
                                    <td>sophia@gmail.com</td>
                                    <td>How to customize the template?</td>
                                    <td><span class="badge badge-warning">New</span> </td>
                                    <td>Elijah</td>
                                    <td>14-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1224</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/2.jpg" alt="user" class="avatar avatar-sm mr-5" /> William</a>
                                    </td>
                                    <td>william@gmail.com</td>
                                    <td>How to change colors</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Benjamin</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1024</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/3.jpg" alt="user" class="avatar avatar-sm mr-5" /> Jayden</a>
                                    </td>
                                    <td>jayden@gmail.com</td>
                                    <td>How to set Horizontal nav</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2124</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/4.jpg" alt="user" class="avatar avatar-sm mr-5" /> Ethan</a>
                                    </td>
                                    <td>ethan@gmail.com</td>
                                    <td>How this will connect with ethan</td>
                                    <td><span class="badge badge-danger">Pending</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3124</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/5.jpg" alt="user" class="avatar avatar-sm mr-5" /> Noah</a>
                                    </td>
                                    <td>noah@gmail.com</td>
                                    <td>How to set navigation</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1611</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/6.jpg" alt="user" class="avatar avatar-sm mr-5" /> Sophia</a>
                                    </td>
                                    <td>sophia@gmail.com</td>
                                    <td>How to customize the template?</td>
                                    <td><span class="badge badge-warning">New</span> </td>
                                    <td>Elijah</td>
                                    <td>14-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4224</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/7.jpg" alt="user" class="avatar avatar-sm mr-5" /> William</a>
                                    </td>
                                    <td>william@gmail.com</td>
                                    <td>How to change colors</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Benjamin</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2524</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/8.jpg" alt="user" class="avatar avatar-sm mr-5" /> Jayden</a>
                                    </td>
                                    <td>jayden@gmail.com</td>
                                    <td>How to set Horizontal nav</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7524</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/9.jpg" alt="user" class="avatar avatar-sm mr-5" /> Ethan</a>
                                    </td>
                                    <td>ethan@gmail.com</td>
                                    <td>How this will connect with ethan</td>
                                    <td><span class="badge badge-danger">Pending</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4124</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/2.jpg" alt="user" class="avatar avatar-sm mr-5" /> Noah</a>
                                    </td>
                                    <td>noah@gmail.com</td>
                                    <td>How to set navigation</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1011</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/1.jpg" alt="user" class="avatar avatar-sm mr-5" /> Mia</a>
                                    </td>
                                    <td>sophia@gmail.com</td>
                                    <td>How to customize the template?</td>
                                    <td><span class="badge badge-warning">New</span> </td>
                                    <td>Elijah</td>
                                    <td>14-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1224</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/3.jpg" alt="user" class="avatar avatar-sm mr-5" />Chloe</a>
                                    </td>
                                    <td>william@gmail.com</td>
                                    <td>How to change colors</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Benjamin</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8024</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/4.jpg" alt="user" class="avatar avatar-sm mr-5" /> Chloe</a>
                                    </td>
                                    <td>jayden@gmail.com</td>
                                    <td>How to set Horizontal nav</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5124</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/5.jpg" alt="user" class="avatar avatar-sm mr-5" /> Ethan</a>
                                    </td>
                                    <td>ethan@gmail.com</td>
                                    <td>How this will connect with ethan</td>
                                    <td><span class="badge badge-danger">Pending</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3144</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/6.jpg" alt="user" class="avatar avatar-sm mr-5" /> Noah</a>
                                    </td>
                                    <td>noah@gmail.com</td>
                                    <td>How to set navigation</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1621</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/7.jpg" alt="user" class="avatar avatar-sm mr-5" /> Sophia</a>
                                    </td>
                                    <td>sophia@gmail.com</td>
                                    <td>How to customize the template?</td>
                                    <td><span class="badge badge-warning">New</span> </td>
                                    <td>Elijah</td>
                                    <td>14-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4724</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/8.jpg" alt="user" class="avatar avatar-sm mr-5" /> William</a>
                                    </td>
                                    <td>william@gmail.com</td>
                                    <td>How to change colors</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Benjamin</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2594</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/9.jpg" alt="user" class="avatar avatar-sm mr-5" /> Jayden</a>
                                    </td>
                                    <td>jayden@gmail.com</td>
                                    <td>How to set Horizontal nav</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>13-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7524</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/1.jpg" alt="user" class="avatar avatar-sm mr-5" /> Ethan</a>
                                    </td>
                                    <td>ethan@gmail.com</td>
                                    <td>How this will connect with ethan</td>
                                    <td><span class="badge badge-danger">Pending</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4124</td>
                                    <td>
                                        <a href="javascript:void(0)"><img src="../images/avatar/4.jpg" alt="user" class="avatar avatar-sm mr-5" /> Noah</a>
                                    </td>
                                    <td>noah@gmail.com</td>
                                    <td>How to set navigation</td>
                                    <td><span class="badge badge-success">Complete</span> </td>
                                    <td>Andrew</td>
                                    <td>12-10-2017</td>
                                    <td>
                                        <button type="button" class="btn btn-icon-circle btn-danger" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Quick Email</h4>
                    <ul class="box-controls pull-right">
                        <li><a class="box-btn-close" href="#"></a></li>
                        <li><a class="box-btn-slide" href="#"></a></li>
                        <li><a class="box-btn-fullscreen" href="#"></a></li>
                    </ul>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="emailto" placeholder="Email to:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="Subject">
                        </div>
                        <div>
                            <textarea class="textarea b-1 p-10 w-p100" placeholder="Message"></textarea>
                        </div>
                    </form>
                </div>
                <div class="box-footer clearfix">
                    <button type="button" class="pull-right btn btn-info" id="sendEmail"> Send <i class="fa fa-paper-plane-o"></i></button>
                </div>
            </div>
            <!-- /.box -->
        </div>


    </div>
</section>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    jQuery(document).ready(function () {
        $("#listaempleados").hide();
        MoreUsedApp();
    });

    function employeFilter() {
        if (!$("#btnempfilter").hasClass("active")) {
            $("#listaempleados").show();
        }
        else {
            $("#listaempleados").hide();
        }
        MoreUsedApp();
    }

    function MoreUsedApp() {
        $.ajax({
            type: "GET",
            url: "/Home/MoreUsedApp",
            success: function (d) {
                var contador = 1;

                $("div#statslist").append("<div id='preload" + contador + "'><h2></h2></div> <div class='table-responsive'> <canvas id='Chart" + contador + "' width='50' height='350'></canvas> </div>");
                var divname = "div#preload" + contador + " h2";
                var chartname = "Chart" + contador
                var coloR = [];
                var dynamicColors = function () {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    return "rgb(" + r + "," + g + "," + b + ")";
                };

                var i;
                for (i = 0; i < d.data.length; i++) {
                    coloR.push(dynamicColors());
                }
                //$(divname).html("Aplicaciones Mas Usadas")
                var ctx = document.getElementById(chartname).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: d.labels,
                        datasets: [{
                            label: d.group,
                            data: d.data,
                            backgroundColor: coloR,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        legend: { display: false },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });
    }
</script>

@section Scripts {



}

